


html,
body{
	 height: 100%;
}

img{
	max-width: 100%;
}

/*cover */

#map-canvas
{
        width: 300px;
        height: 300px;
     	
         margin-top: 10px;
		 margin-bottom: 10px;
         margin-right: auto;
	     margin-left: auto;
}




#cover {
	/*background: #222 url('img/yellow.png') center top no-repeat;*/
	background-color: yellow;
	background-size: cover;*/
	color: black;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	}

#cover-caption{
	width: 100%;
}

.section-content{
	padding: 5rem 0;
	
}

#footer-main {
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}

#login
{	
	background-size: cover;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	width: 100%;
}


